<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="Tommy, Williams, Wommy, Tilliams, Website, Websites, Design, Develop, Development, Make, Create">
	<meta name="description" content="Tommy Williams's Website - Website Design / Development">
	<meta name="author" content="Tommy Williams, Wommy Tilliams">
	<style>
	body{
		font-family:tahoma,sans-serif;
		margin:0;
		font-variant:small-caps;

		display: flex;
		flex-direction:row-reverse;
	}
	section, aside{
		margin:1rem;
	}
	aside {
		width: 20rem;
	}
	a {
		display: list-item;
		list-style: decimal inside;
	}
	</style>
	<title>Tommy Williams</title>
</head>
{{ content }}
</html>